<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5Ngcb5EJfxnGqOCm7N4iuhMyluLi2a3A</string>
	<key>GCM_SENDER_ID</key>
	<string>328996489325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alertaescolarMb</string>
	<key>PROJECT_ID</key>
	<string>alerta-escolar-1e870</string>
	<key>STORAGE_BUCKET</key>
	<string>alerta-escolar-1e870.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328996489325:ios:f45e7721ba20c1cd375764</string>
</dict>
</plist>